body{
    display: flex;

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#p1-div, #p2-div{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#p1-div {
    background-color: maroon;
}

#p2-div {
    background-color: teal;
}

.content {
    height: 50%;
    aspect-ratio: 1/1;
    background-color: green;
}

.grid{
    border: 2px solid black;
    text-align: center;
}

.show {
    background-color: yellow;
}

.hit {
    background-color: red;
}

.miss {
    background-color: aqua;
}

.moving {
    opacity: 80%;
}

.outline {
    outline: cyan solid 3px;
}

.invalid-outline {
    outline: red solid 3px;
}